/* Desktop Display */
@media (min-width: 850px) { 

  .info {
    vertical-align: middle;
    flex: 1;
  }
}
/* End Desktop styling */

/* Mobile Display */
@media (max-width: 850px) { 

  .info {
    font-size: 14px;
    flex-grow: 2;
  }
}
/* End Mobile styling */

/* Constant Styling */
.flex-grid {
  display: flex;
  margin: 1em auto;
}
.update {
  flex: 1;
}
.no-padding {
  padding: 0 !important;
}
.flex-container {
  display: flex;
  align-content: center;
  background-color: rgba(0, 0, 0, 0.2);
}
/* End Constant styling*/
